In [2]:
#Q1
list1 = [4,8,15,16,23,42]
import pandas as pd
pd.Series(data = list1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
#Q2
var1=[2,4,5,7,8,12,14,15,7,9]
sr1 = pd.Series(var1)
print(sr1)
type(sr1)

0     2
1     4
2     5
3     7
4     8
5    12
6    14
7    15
8     7
9     9
dtype: int64

pandas.core.series.Series

In [13]:
#Q3
dict1 = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df1=pd.DataFrame(dict1)
print(df1)
type(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

pandas.core.frame.DataFrame

In [ ]:
#Q4
'''Dataframe is a two dimensional mutable tabular data structure with multiple indexed rows and columns.
   In pandas series we cannot deal with multiple coulmns which is possible in dataframe. Also they both 
   belongs to the different classes series and dataframe respectively.
   The above example sr1 and df1 can be used.'''

In [ ]:
#Q5
'''The different functions in a dataframe are: head, tail, columns, shape, size, info, read etc.'''